# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      in-app-update-priority:
        name: "In-App Update Priority"     
        required: true
        description: "Set the priority for in-app update. Default to 0 for no banner. 1 for showing in-app update banner. 5 for blocking in-app immediate update"
        default: '0'
        type: choice
        options:
          - 0
          - 1
          - 5

env:
  IN_APP_UPDATE_PRIORITY: ${{ inputs.in-app-update-priority }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - run: |
          echo "Selected priority: $IN_APP_UPDATE_PRIORITY"
